.divMain {
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.divProfile {
    display: block;
    margin: 20px 30px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

p {
    margin: 12px 0px 20px 12px
}